::selection {
  color: rgba(255, 255, 255, 0.85);
}

:root {
  overflow: hidden;
  color: @color-text;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji', sans-serif;
}

a {
  .effect(@speed-effect, color);
  color: inherit;
}

body {
  .effect(@speed-effect);
  .flex-vertical;

  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

  &:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    background-image: radial-gradient(transparent, lighten(@color-deep, 8%));
  }
}

header,
footer {
  .full-width;
  .flex-horizontal(space-between);

  padding-left: @space;
  padding-right: @space;
}

header {
  height: @space-header;

  h1 {
    .logo;
    .shadow;

    z-index: 1;
    position: relative;
  }
}

footer {
  height: @space-footer;

  div,
  span,
  p {
    flex: 1;
  }

  div {
    .picker;
  }

  span {
    .command;
  }
}

nav {
  .nav-link;

  &,
  div,
  a,
  img {
    .full-height;
  }

  &,
  div,
  a {
    .flex-horizontal;
  }

  img {
    .full-width;
    .full-height;
  }
}

main {
  .flex-horizontal;
  height: calc(100vh - @space-header - @space-footer);
}

section {
  .flex-horizontal;
  width: 100vw;

  div {
    .icon;
  }
}
