::selection {
  color: rgba(255, 255, 255, 0.85);
  background: @color-theme;
}

:root {
  color: @color-text;
  background: radial-gradient(@color-background-from, @color-background-to);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  .effect(@speed-effect, color);
  color: inherit;

  &:hover,
  &:active {
    color: @color-theme-deep;
  }
}

body {
  .flex-vertical;
  // background-image: url(http://oss.joenix.com/joenix.com/b.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; // right bottom;
}

header,
footer {
  .full-width;
  .flex-horizontal(space-between);

  padding-left: @space;
  padding-right: @space;
}

header {
  height: @space-header;

  h1 {
    a {
      .flex-horizontal;

      color: @color-theme;
      font-size: @size-header;
    }

    bdo {
      & {
        color: #fff;
      }

      &.J {
        color: #09c;
      }
      &.O {
        color: #3cf;
      }
      &.E {
        color: #3cf;
      }
      &.N {
        color: #3f9;
      }
      &.I {
        color: #fc3;
      }
      &.X {
        color: #f93;
      }
    }
  }
}

footer {
  height: @space-footer;
}

nav {
  .nav-link;

  &,
  div,
  a,
  img {
    .full-height;
  }

  &,
  div,
  a {
    .flex-horizontal;
  }

  span {
    .effect;

    width: 200px;
    height: 200px;
    top: calc(100% + @space);
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  img {
    .full-width;
    .full-height;
  }

  div {
    .effect;
    position: relative;
    padding: 0 @space;
    font-size: @size-nav;

    &:hover {
      span {
        top: 100%;
        opacity: 1;
        z-index: 0;
      }
    }
  }
}

main {
  .flex-horizontal;

  height: calc(100vh - @space-header - @space-footer);
}

section {
  li {
    line-height: 100px;
    font-size: @size-section;
  }
}
