.theme(@theme: @color-theme) {
  // Deep
  @color-theme-deep: darken(@theme, 32%);

  // Active
  @color-active: lighten(@theme, 6%);

  // Selection
  ::selection {
    background: @theme;
  }

  & {
    background-size: cover;
    background-color: @theme;
  }

  a {
    &:hover,
    &:active {
      color: @color-theme-deep;
    }
  }

  header {
    h1 {
      a {
        color: @theme;
      }
    }
  }

  footer {
    bdo {
      &.press {
        color: @theme;
        border-color: @theme;
      }
    }
  }

  nav {
    div {
      &:hover {
        a {
          color: @color-active;

          &:after {
            background-color: @color-active;
          }
        }
      }
    }
  }
}

.colour(@theme: @color-theme) {
  background-color: @theme;

  &.active {
    border-color: darken(@theme, 32%);
  }
}

/**
 * Themes
 * ======== ======== ========
 */
@themes: #21c9b5, #92ccc2, #a6ede8, #bfecef, #bcf0d1, #d5d4b6, #d4ba7c, #ecceb2, #f2afa2, #fb6471;

.loop(@index) when(@index > 0) {
  .loop(@index - 1);

  .theme-@{index} {
    .theme(extract(@themes, @index));
  }

  .picker-@{index} {
    .colour(extract(@themes, @index));
  }
}

.loop(10);
