/**
 * Colors
 * ======== ======== ========
 */

// Theme
@color-theme: rgb(234, 76, 137);

// Text
@color-text: rgb(181, 182, 183);

// Background
@color-background: rgb(31, 32, 33);

/**
 * Size
 * ======== ======== ========
 */

// Header Size
@size-header: 36px;

/**
 * Spaces
 * ======== ======== ========
 */

// Header + Footer
@space-header: 60px;
@space-footer: 30px;
