<footer>
  <!-- <%= copyright %> -->
  <p>
    <%= filing %>
  </p>
  <span>
    <bdo>↑</bdo>
    <bdo>↑</bdo>
    <bdo>↓</bdo>
    <bdo>↓</bdo>
    <bdo>←</bdo>
    <bdo>→</bdo>
    <bdo>←</bdo>
    <bdo>→</bdo>

    <bdo>B</bdo>
    <bdo>A</bdo>
    <bdo>B</bdo>
    <bdo>A</bdo>
  </span>
  <div>
    <% for(var i=1; i <=10; i++) { %>
      <i class="picker-<%= i %>"></i>
      <% } %>
  </div>
</footer>