<header>
  <h1>
    <a class="logo" href="http://www.joenix.com">
      <bdo class="J">J</bdo>
      <bdo class="O">O</bdo>
      <bdo class="E">E</bdo>
      <bdo class="N">N</bdo>
      <bdo class="I">I</bdo>
      <bdo class="X">X</bdo>
      <bdo>.</bdo>
      <bdo>C</bdo>
      <bdo>O</bdo>
      <bdo>M</bdo>
    </a>
  </h1>
  <nav>
    <div>
      <a href="javascript:void(0);">WECHAT</a>
      <span>
        <img src="http://oss.joenix.com/joenix.com/qr.jpg" alt="joenix qr" />
      </span>
    </div>
    <div>
      <a target="_blank" href="http://www.vue-scaff.com">VUE SCAFF</a>
    </div>
    <div>
      <a target="_new" href="https://www.npmjs.com/~joenix">NPM</a>
    </div>
    <div>
      <a target="_new" href="https://github.com/joenix">GITHUB</a>
    </div>
    <div>
      <a target="_new" href="https://leetcode.com/joenix">LEETCODE</a>
    </div>
  </nav>
</header>