<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="author" content="<%= author %>" />
<meta name="description" content="<%= description %>" />
<meta name="keywords" content="<%= keywords %>">
<title><%= title %></title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f28166f909dd8ea13c572032a2c3316b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>

	<!-- Header -->
	<% include header %>

  <main>
		<section class="context">
			<ul>
				<li>
					<h2>
						Wechat:
						<em>ejoenix</em>
					</h2>
				</li>
				<li>
					<h2>
						Twitter:
						<em>ejoenix</em>
					</h2>
				</li>
				<li>
					<h2>
						Open Source:
						<a href="http://vue-scaff.joenix.com">Vue Scaff</a>
					</h2>
				</li>
			</ul>
		</section>
  </main>

	<!-- Footer -->
	<% include footer %>

	<!-- Resource -->
	<% include resource %>
</body>
</html>
