<section class="context">
    <!-- Twitter -->
    <a target="_blank" href="https://twitter.com/ejoenix">
        <img src="<%= oss %>/joenix.com/logos/twitter.svg" />
        <span>Twitter</span>
    </a>

    <!-- Facebook -->
    <a target="_blank" href="https://www.facebook.com/ejoenix">
        <img src="<%= oss %>/joenix.com/logos/facebook.svg" />
        <span>Facebook</span>
    </a>

    <!-- Weibo -->
    <a target="_blank" href="https://weibo.com/ejoenix">
        <img src="<%= oss %>/joenix.com/logos/weibo.svg" />
        <span>Weibo</span>
    </a>
</section>